.gform_wrapper {
  margin-bottom: 4rem;

  .gform_fields {
    list-style: none;
    margin: 0;
    padding-right: 2rem;

    .gfield {
      padding-bottom: 1.5rem;
      font-size: 1.125rem;
    }
  }

  input[type="text"],
  input[type="email"],
  textarea {
    background: linear-gradient(to right, #F4f4f4, #EEE);
    border: none;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to left, $green 5%, $blue);
    border-image-slice: 4;
    font-weight: $light !important;
    border-radius: 0;
    font-size: 1.5rem !important;
    padding: .85rem 1rem !important;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: $black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 15px 0px;


    &::placeholder {
      color: $black;
      font-size: 1.5rem !important;
      font-weight: $light;
    }
  }

  textarea {
    height: 200px !important;
    font-size: 1.5rem !important;
    font-weight: $light !important;
  }

  input[type="submit"] {
    border: none;
    background: $purple;
    color: $white;
    transition: .3s ease;
    padding: 1.5rem 1.25rem;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    min-width: 190px;
    margin: 1rem 0 0 0;
    font-size: 1.125rem;
    text-transform: uppercase;
    transition: .3s ease;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:hover {
      background: $green;
      cursor: pointer;
      transform: none;
    }
  }

  div.validation_error {
    display: none;
  }

  li.gfield.gfield_error {
    background: none !important;
    border: none !important;

    input[type="text"],
    input[type="email"],
    textarea,
    select {
      border: 3px solid red !important;
    }

    .ginput_container:after,
    .ginput_container:before {
      content: none !important;
    }
  }

  li.gfield.gfield_error,
  li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0 !important;
  }

  .validation_message {
    color: #999 !important;
    font-style: italic;
    font-weight: 300 !important;
    background: url("./images/error.svg") left center no-repeat;
    background-size: 1rem;
    padding: .5rem 0 .5rem 1.5rem !important;
    font-size: 1rem !important;

    &.instruction {
      display: none;
    }
  }

  .gform_submission_error {
    font-size: 1.125rem;
    color: red;
  }

  .gfield_error .gfield_label {
    color: #999 !important;
  }
}

.gform_confirmation_message {
  font-size: 1.125rem;

  a {
    border-bottom: 1px solid $blue;
    text-decoration: none;
  }
}

.search-form {
  display: flex;

  input[type="submit"] {
    background: linear-gradient(to right, $purple 10%, $blue-dark);

    &:hover {
      background: $blue-dark;
      cursor: pointer;
    }
  }
}
